a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.homepage{
    background-image: url("images/bckfinal.jpg");
    background-size: 100vw 50vw;
    background-repeat: no-repeat;
}
#sticker > img{
    grid-template-areas: "one";
    margin-top: 300px;
    margin-left: 650px;
    width: 210px;
    float: left;
}
.me > img{
    grid-template-areas: "two";
    height: 537px;
    margin-left: -400px;
    padding-left: -100px;
    margin-bottom: -120px;
}
.container{
    display: grid;
    grid-template: "one two";
    margin-top: 175px;
}
.menu{
    margin-left: 930px;
}
a{
    text-decoration: none;
    font-family: "Arial Black";
    font-size: 25px;
    color: black;
}
.menu > span{
    padding-right: 25px;
}




.aboutme{
    background-image: url("images/bck2.jpg");
}
.container2{
    display: grid;
    grid-template: "oneone twotwo";
}
body > div > div.photomatura{
    grid-template-areas: "oneone";
}
body > div > div.text{
    margin-left: 75px;
    width: 400px;
    grid-template-areas: "twotwo";
}
body > div > div.photomatura > img{
    height: 450px;
    margin-left: 100px;
}
.photomatura{

}