a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
.homepage{
    background-image: url("images/bckfinal.jpg");
    background-size: 100vw 50vw;
    background-repeat: no-repeat;
}
#sticker > img{
    grid-template-areas: "one";
    margin-top: 350px;
    margin-left: 650px;
    width: 210px;
    float: left;
}
.me{
    grid-template-areas: "two";
    height: 531px;
    margin-left: -400px;
    padding-left: -100px;
}
.me > img{
margin-top: 55px;
    margin-bottom: -40px;
}
.container{
    display: grid;
    grid-template: "one two";
    margin-top: 100px;
}
.menu{
    margin-top: 30px;
    margin-left: 1000px;
}
a {
    text-decoration: none;
    font-family: "Arial Black", serif;
    font-size: 25px;
    color: black;
}
.menu > span{
    padding-right: 25px;
}






.aboutme{
    background-image: url("images/about-me-bcg.png");
    background-size: 100vw 50vw;
}
.container2{
    display: grid;
    grid-template: "oneone twotwo";
}
body > div > div.photomatura{
    grid-template-areas: "oneone";
}
body > div > div.text{
    width: 650px;
    grid-template-areas: "twotwo";
}
body > div > div.photomatura > img{
    height: 300px;
    margin-top: 320px;
    margin-left: 50px;
    border-style: solid;
    border-width: 9px;
    border-color: black;
    border-radius: 50px;

}
#hello{
    color: #9d6308;
}
body > div > div.text > h1 > pre{
    margin-left: -150px;
}
.first-text{
    margin-left: 80px;
    font-size: 17px;
    font-family: "Arial Black", serif;
    color: #333232;
}
body > div > div.text > div > h2{
    color: #9d6308;
}
body > div > div.text > div > a{
    color: #9d6308;
}







.touch{
    background-image: url("images/get-in-touch_banner.png");
    background-repeat: no-repeat;
    background-size: 1600px;
}